@charset "UTF-8";
* {margin: 0; padding: 0; box-sizing: border-box;}
ul,li,ol {list-style: none; color: #333;}
a {text-decoration: none;}
#wrap {margin: 0 auto; }

@media screen and (min-width:1100px) {

header {width: 100%; height: 75px; display: flex;}
#headerwrap {width: 100%; height: 1344px; position: relative;}
.he1 {width: 1140px; height: 75px; ; margin: 0 auto; display: flex; justify-content: space-between; }
.logo {width: 145px; height: 75px;  text-align: center; display: flex; align-items: center; align-content: center;}
.logo a {width: 145px; height: 50px; color: #333; font-size: 32px; font-family: '맑은고딕';}

.nav {width: 550px; height: 75px;  display: flex;}
.nav ul {width: 100%; height: 100%; justify-content: center; align-items: center; display: flex; list-style: none;}
.nav li {margin: 0 0 0 30px;}
.nav a {color: #333; font-family: '맑은고딕'; font-size: 16px;}

.icon {width: 200px; height: 75px; display: flex; justify-content: space-between; align-items: center; }
.icon li {width: 20px; height: 16px; }
.icon img {width: 100%; height: 100%;}

#slider {width: 100%; height: 869px;  position: relative; text-align: center; align-items: center; justify-content: center; display: flex;}
.sliderimg {width: 100%;}
.sliderimg > li {width: 100%; height: 869px; position: absolute; left: 0; top: 0; text-align: center;}
.sliderimg > li > img {width: 100%; height: 100%;}
.sliderimg li:not(:first-child) {display: none;}

h1 {position: absolute; top:40%; left:50%; transform: translate(-50%,-50%); color: #fff; width: 730px; height: 96px; font-size: 64px; font-family: '맑은고딕'; }
#sliderp {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 730px; height: 56px; color: #fff; }


.iconwrap {width: 100%; height: 400px;  display: flex; justify-content: center;}
.con {width: 1140px; height: 400px;   margin: -100px auto; display: flex; justify-content: space-between; position: absolute; }
.con1 {width: 349px; height: 399px; overflow: hidden;}
.con1 img {width: 349px; height: 399px; position: relative; text-align: center; transform: scale(1); transition: all 0.3s ease-in-out;}
.con1 a {width: 50px; height: 50px; position: absolute; transform: translate(-50%,-50%); color: #fff; font-size: 25px; font-family: '맑은고딕'; margin: 370px 0 0 -180px;}
.con1 img:hover{transform: scale(1.2); transition: all 0.3s ease-in-out;}
.con2 {width: 349px; height: 399px;  overflow: hidden;}
.con2 img {width: 349px; height: 399px; position: relative; transform: scale(1); transition: all 0.3s ease-in-out;}
.con2 a {width: 50px; height: 50px; position: absolute; transform: translate(-50%,-50%); color: #fff; font-size: 25px; font-family: '맑은고딕'; margin: 370px 0 0 -180px;}
.con2 img:hover{transform: scale(1.2); transition: all 0.3s ease-in-out;}
.con3 {width: 349px; height: 399px; overflow: hidden;}
.con3 img {width: 349px; height: 399px; position: relative; transform: scale(1); transition: all 0.3s ease-in-out;}
.con3 a {width: 50px; height: 50px; position: absolute; transform: translate(-50%,-50%); color: #fff; font-size: 25px; font-family: '맑은고딕'; margin: 370px 0 0 -180px;}
.con3 img:hover{transform: scale(1.2); transition: all 0.3s ease-in-out;}


#icon1 {width: 1140px; height: 400px;  margin: 0 auto; display: flex; align-items: center; justify-content: center;}
.i1 {width: 379px; height: 199px;  display: flex; justify-content: center; }
.i1img {width: 48px; height: 199px;}
.i1img img {width: 48px; height: 48px;}
.i1text {width: 277px; height: 199px; margin: 0 0 0 30px;}
.i1text h3 {width: 277px; height: 24px;}
.i1text p {width: 277px; height: 108px;}
.i1text a {width: 87px; height: 23px; color: #e43216;}
.i2 {width: 379px; height: 199px;  display: flex; justify-content: center; }
.i2img {width: 48px; height: 199px;}
.i2img img {width: 48px; height: 48px;}
.i2text {width: 277px; height: 199px; margin: 0 0 0 30px;}
.i2text h3 {width: 277px; height: 24px;}
.i2text p {width: 277px; height: 108px;}
.i2text a {width: 87px; height: 23px; color: #e43216;}
.i3 {width: 379px; height: 199px;  display: flex; justify-content: center; }
.i3img {width: 48px; height: 199px;}
.i3img img {width: 48px; height: 48px;}
.i3text {width: 277px; height: 199px; margin: 0 0 0 30px;}
.i3text h3 {width: 277px; height: 24px;}
.i3text p {width: 277px; height: 108px;}
.i3text a {width: 87px; height: 23px; color: #e43216;}

#se1 {width: 100%; height: 901px; background-color: #f8f9fa; padding: 50px 0px; margin: 0 auto;}
#se1 h2 {font-size: 32px; color: #000000; text-align: center;  }

#main1 {width: 1110px; height: 639px; margin: 0 auto; overflow: hidden; }
.main1_sub1_ul {width: 3330px; height: 100%;}
.main1_sub1 {width: 1110px; height: 639px; margin: 0 auto;  display: flex; float: left; flex-direction: row; margin: 0 auto; position: relative;}
.main1_sub1_img {width: 525px; height: 559px;   position: absolute; top: 7%;}
.main1_sub1_img img {width: 525px; height: 559px;}
.main1_sub1_text {width: 555px; height: 359px; background-color: #fff; position: absolute; margin: 0 auto; top: 28%; left: 40%; padding: 48px;}
.main1_sub1_text p {color: #000; font-size: 20px; font-family: '맑은고딕';}

.main1_sub2 {width: 1110px; height: 639px; margin: 50px auto; display: flex; float: left; flex-direction: row; margin: 0 auto; position: relative;}
.main1_sub2_img {width: 525px; height: 559px; background-color: lightblue;  position: absolute; top: 7%;}
.main1_sub2_img img {width: 525px; height: 559px;}
.main1_sub2_text {width: 555px; height: 359px; background-color: #fff; position: absolute; margin: 0 auto; top: 28%; left: 40%; padding: 48px;}
.main1_sub2_text p {color: #000; font-size: 20px; font-family: '맑은고딕';}

.main1_sub3 {width: 1110px; height: 639px; margin: 50px auto;  position: relative; display: flex; float: left; flex-direction: row; margin: 0 auto;}
.main1_sub3_img {width: 525px; height: 559px; background-color: lightblue;  position: absolute; top: 7%;}
.main1_sub3_img img {width: 525px; height: 559px;}
.main1_sub3_text {width: 555px; height: 359px; background-color: #fff; position: absolute; margin: 0 auto; top: 28%; left: 40%; padding: 48px;}
.main1_sub3_text p {color: #000; font-size: 20px; font-family: '맑은고딕';}

.main1_span {width: 300px; height: 50px;  margin: 0 auto; text-align: center; padding: 10px; font-size: 24px; color: #333; letter-spacing: 20px;}



#main2 {width: 100%; height: 1143px; margin: 0 auto;}
#main2 h3 {font-size: 32px; color: #333; font-family: '맑은고딕'; text-align: center; margin: 30px auto;}
.main2_box {width: 1140px; height: 1000px;  display: flex; justify-content: space-around; flex-wrap: wrap;  margin: 50px auto; }
.main2_sub1 {width: 349px; height: 399px;  overflow: hidden; box-shadow: 1px 1px 1px 1px #eee;}
.main2_sub1 img {width: 349px; height: 399px; transform: scale(1); transition: all 0.3s ease-in-out;}
.main2_sub1 img:hover{transform: scale(1.2); transition: all 0.3s ease-in-out;}
.main2_sub2 {width: 349px; height: 399px;  overflow: hidden;}
.main2_sub2 img {width: 349px; height: 399px; transform: scale(1); transition: all 0.3s ease-in-out;}
.main2_sub2 img:hover{transform: scale(1.2); transition: all 0.3s ease-in-out;}
.main2_sub3 {width: 349px; height: 399px;  overflow: hidden;}
.main2_sub3 img {width: 349px; height: 399px; transform: scale(1); transition: all 0.3s ease-in-out;}
.main2_sub3 img:hover{transform: scale(1.2); transition: all 0.3s ease-in-out;}
.main2_sub4 {width: 349px; height: 399px;  overflow: hidden;}
.main2_sub4 img {width: 349px; height: 399px; transform: scale(1); transition: all 0.3s ease-in-out;}
.main2_sub4 img:hover{transform: scale(1.2); transition: all 0.3s ease-in-out;}
.main2_sub5 {width: 349px; height: 399px;  overflow: hidden;}
.main2_sub5 img {width: 349px; height: 399px; transform: scale(1); transition: all 0.3s ease-in-out;}
.main2_sub5 img:hover{transform: scale(1.2); transition: all 0.3s ease-in-out;}
.main2_sub6 {width: 349px; height: 399px;  overflow: hidden;}
.main2_sub6 img {width: 349px; height: 399px; transform: scale(1); transition: all 0.3s ease-in-out;}
.main2_sub6 img:hover{transform: scale(1.2); transition: all 0.3s ease-in-out;}

#main3 {width: 100%; height: 600px; background-color: lavenderblush; background-image: url('mainimg/slide1.jpg'); background-attachment: fixed;}


#main4 {width: 100%; height: 963px; background-color: lightcoral;}

footer {width: 100%; height: 928px; background-color: #4d4d4d;}
}